TUPLAS

1- Cread una tupla que contenga la letra "A"

In [1]:
tupla1 = "A",

2- AÃ±adid los siguientes elementos "d", "a", "l", "a", "b" a la tupla definida en el paso anterior. Â¿Se puede? Â¿Por quÃ©?

In [ ]:
# No, porquÃ© las tuplas son immutables.

3- Pensad de que forma podrÃ­amos tener una tupla que contenga el siguiente contenido ("A", "d", "a", "l", "a", "b") usando mÃ©todos de Python.

In [2]:
# "Convertimos" la tupla en la lista, para poder aÃ±adir elementos:
tupla2 = list(tupla1)
tupla2.extend("dalab")
print(tupla2)

# Convertir de nuevo la lista en una tupla:
tupla2 = tuple(tupla2)
print(type(tupla2))

['A', 'd', 'a', 'l', 'a', 'b']
<class 'tuple'>

4- Â¿CuÃ¡l es el Ã­ndice de la letra "l"?

In [3]:
tupla2.index('l')

3

5- Â¿CuÃ¡ntas veces aparece la letra "a" en nuestra tupla?

In [4]:
tupla2.count("a")

2

SETS

1- Dados los siguientes sets:

In [5]:
set1 = {1,3,6,2,8,9}
set2 = {2,1,9,3,10,18}

2- Identifica los elementos que estÃ¡n en set1 pero no en set2. Almacenad los resultados en una variable que se llame set3

In [6]:
set3 = set1.difference(set2)
set3

{6, 8}

3- Identifica los elementos que estÃ¡n en set2 pero no en set1. Almacenad los resultados en una variable que se llame set4.

In [7]:
set4 = set2.difference(set1)
set4

{10, 18}

4- Identifica los elementos comunes entre el set1 y el set2. Almacenad los resultados en una variable que se llame set5.

In [8]:
set5 = set1.intersection(set2)
set5

{1, 2, 3, 9}

5- Cread un set vacÃ­o llamado set6. AÃ±adid el set3 y set4 al set6.

In [9]:
# Creamos un set vacÃ­o:
set6 = set()

# AÃ±adimos los dos sets con update porquÃ© ambos son sets (mÃ¡s de un elemento):
set6.update(set3, set4)
print(set6)

{8, 18, 10, 6}

6- Â¿Es el set1 igual al set6?

In [10]:
set1 == set6

False

7- Chequead si el set1 contiene al set2. ðŸ’¡Pista: deberÃ©is usar el mÃ©todo issubset()

In [53]:
print(set1)
print(set2)

{1, 2, 3, 6, 8, 9}
{1, 2, 3, 18, 9, 10}

In [11]:
set1.issubset(set2)

False

8- Eliminad el primer elemento del set6

In [55]:
set6

{8, 18, 10, 6}

In [57]:
set6.remove(8)

In [58]:
print(set6)

{18, 10, 6}